$font-family: 'Open Sans', sans-serif;
$background-color: #2d3844;
$text-color: #929a9e;
$line-color: #929a9e5e;

body{
    background-color: #181b1f
}

@import "components/navbar";
@import "components/container"