*{
   font-family: $font-family;
   margin: 0;
   padding: 0;
}

.navbar{

    background-color: $background-color;
    line-height: 30px;

    .navborder{
        border-left: 1px solid #495867;
        width: 0;
        height: 20px;
        margin: 13.5px 5px;

    }

    nav{
        display: flex;
        padding-left: 6rem;
        height: 46px;
        
    }

    img{
        height: 46px;
        margin-left: 47px;
    }

    ul{
        display: flex;
        list-style: none;
        width: 100%;
        padding-left: 0;
        align-items: center;
       

    }

    ul>li>a{
        text-decoration: none;
        background-color: $background-color;
        border-left: solid 0.7px $line-color;
        font-size: 14px;
        color: $text-color;
        padding-left: 0.688rem;
        padding-right: 0.688rem;
        padding-top: 2rem;
        padding-bottom: 0.8rem;
        transition: 0.2s;
    }
    ul>li>a:hover{
        background-color: #45515F;
        color: #87a3bf;
    }


    &-Fantasy{
        border-right: solid 0.7px $line-color;
    }
    .search{
        max-height: 1rem;
        background-color: $background-color;
        display: block;
        border: solid 1px $line-color;
        margin-left: 1rem;
        padding: 0.3rem 0 0.3rem 0;
        width: 100.22px;
        position: relative;
    }
    .search::placeholder{
        padding-left: 5px;
    }
    .navsearchborder{
        position: relative;
        top: 0px;
        right: 40px;
        z-index: 1;
        border-left: 1px solid #495867;
        width: 0;
        height: 20px;
    }
    button{
        position: relative;
        top: -2px;
        right: 18px;
        z-index: 1;
        color: #929a9e;
        margin: 0;
        border: 0;
        padding: 0;
        background: 0 0;
        cursor: pointer;
    }
    input{
        color: $text-color;
    }
    .navbell{
        color: $text-color;
        cursor: pointer;
        margin-left: 0.7rem;

    }

    .mailicon{
        color: $text-color;
        margin-left: 1rem;
        cursor: pointer;
        margin-right: 0.7rem;
    }
    .navarrow{
        color: $text-color;
        cursor: pointer;
        margin-left: 0.7rem;
    }
    
}